{% block content %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <div class="container shadow-lg mt-5">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title mt-2">
                        <h2>List Developer</h2>
                        <a href="{% url 'createDeveloper' %}" class="btn btn-primary" role="button">Tambahkan Developer Baru</a><br><br>
                        <div class="x_content">
                            <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="datatable" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
                                            <thead>
                                                <tr role="row">
                                                    <th hidden="">SLNO</th>
                                                    <th>No</th>
                                                    <th>Nama Developer</th>
                                                    <th>Umur Developer</th>
                                                    <th>Skill Developer</th>
                                                    <th>Pengalaman Developer</th>
                                                    <th>Aksi</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for developer in object_list %}
                                                    <tr style="background:#f8fcff">
                                                        <td class="align-middle" hidden="">{{ developer.id  }}</td>
                                                        <td class="align-middle">{{ forloop.counter }}</td>
                                                        <td class="align-middle" >{{ developer.developerName   }}</td>
                                                        <td class="align-middle">{{ developer.developerAge  }}</td>
                                                        <td class="align-middle">{{ developer.developerSkill  }}</td>
                                                        <td class="align-middle">{{ developer.developerExpYear }} Tahun</td>
                                                        <td>
                                                            <a href="{%  url 'updateDeveloper' developer.id %}" class="btn btn-warning"><i class="fa fa-pencil"></i>Edit</a>
                                                            <a href="{%  url 'deleteDeveloper' developer.id %}" class="btn btn-danger"><i class="fa fa-trash-o"></i>Delete</a>
                                                        </td>
                                                  </tr>

                                                {% empty %}
                                                    <tr>
                                                        <td class="bg-light text-center font-italic" colspan="4">No Data</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}