{% block content %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<form method="POST" >
{% csrf_token %}
    <div class="container shadow-lg mt-5">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title mt-2">
                      <h2>Form Developer</h2>
                      <div class="clearfix"></div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6 mb-0">
                            <label class="control-label col-md-6 col-sm-3 col-xs-12" for="name">Nama Developer <span class="required">*</span>
                            </label>
                            <input type="text" name="developerName" class="form-control" pattern="^[^\s][\w\W]*$" autocomplete="off"
                            title="Masukkan Nama Developer." placeholder="{{ object.developerName }}" value="{{ object.developerName }}"
                            minlength="1" maxlength="50"/>
                           </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6 mb-0">
                            <label class="control-label col-md-6 col-sm-3 col-xs-12" for="name">Umur Developer<span class="required">*</span>
                            </label>
                            <input type="number" name="developerAge" class="form-control" pattern="[0-9]{10}"
                                       autocomplete="off"
                                       title="Masukkan Umur Developer." placeholder="{{ object.developerAge }}" value="{{ object.developerAge }}"
                                       minlength="10" maxlength="10"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6 mb-0">
                           <label class="control-label col-md-6 col-sm-3 col-xs-12" for="name">Skill Developer<span class="required">*</span>
                           </label>
                           <input type="text" name="developerSkill" title="Masukkan Skill Developer" class="form-control" placeholder="{{ object.developerSkill }}" value="{{ object.developerSkill }}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6 mb-0">
                            <label class="control-label col-md-7 col-sm-3 col-xs-12" for="name">Jumlah Tahun Pengalaman Developer<span class="required">*</span>
                            </label>
                            <input type="number" name="developerExpYear" class="form-control" pattern="[0-9]{10}"
                                       autocomplete="off"
                                       title="Masukkan Tahun Pengalaman Developer." placeholder="{{ object.developerExpYear }}" value="{{ object.developerExpYear }}"
                                       minlength="10" maxlength="10"/>
                        </div>
                    </div>
                    <div class="row">
                    </div>
                    <br/>
                    <div class="form-group">
                      <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                        <button type="submit" class="btn btn-success">Submit</button>
                        <button class="btn btn-primary" type="reset">Reset</button>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}